<div class="container">
    <div class="signin-signup mat-elevation-z20">

        <form [formGroup]="loginForm" (ngSubmit)="login()" class="login-form">
            <mat-form-field>
                <input matInput formControlName="email" placeholder="Enter your Email ID please">
            </mat-form-field>
            <div *ngIf="email.invalid && loginForm.touched" class="error alert">
                Enter a valid Email ID
            </div>
            <button [disabled]="email.invalid" mat-raised-button color="primary" class=login-button (click)="login()">
                Login
            </button>

            <mat-divider class="divider"></mat-divider>

            <h3>OR</h3>

            <mat-divider class="divider"></mat-divider>

            <div id="google-signIn" data-onsuccess="onSignIn">
                <img src="assets/images/btn_google_signin.png" alt="">
            </div>
            
        </form>

    </div>
</div>